html{
    height: 100%;
    background-image: url(https://github.com/ujjwal0205/Fruitslicing/blob/main/fruit-ninja-kinect-game-wallpaper-preview.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    /* background: radial-gradient(purple , violet , rgb(30, 170, 194)); */
    /* background: -webkit-linear-gradient(purple , violet , rgb(30, 170, 194));  */
    /* background: -moz-linear-gradient(purple , violet , rgb(30, 170, 194));  */
    /* background: -o-linear-gradient(purple , violet , rgb(30, 170, 194));  */
   
}
#game{
    width: auto;
    background:linear-gradient(orange, white, green);
    position: relative;
    text-align: center;
    border-radius: 0px;
    box-shadow: 0px 2px 0px 0px;
    margin-top: 40px;
    padding: 0px 4px 0px;
    font-size: 3.5em}
#container{
    height:600px;
    width: 750px;
    opacity: 1;
    margin: 200px auto;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}
#score{
    background-color: #F1FF92; 
    color: #888E5F;
    padding: 10px;
   position: absolute;
   left: 650px;
   box-shadow: 0px 4px 0px 0px #9da853;
   -moz-box-shadow: 0px 4px 0px 0px #9da853;
   -webkit-box-shadow: 0px 4px 0px #9da853;
}
#correct{
    position: absolute;
    left: 250px;
    background-color: #42e252;
    color: white;
    padding: 11px;
    display: none; 
}
#wrong{
    position: absolute;
     left: 250px;
     background-color: #de401a;
     color: whitesmoke;
     padding: 11px;
     display: none;
     }
#fruitcontainer{
    width: 800px;
    height: 500px;
    margin: 30px auto 10px auto;
    /* background-image: url(project/photo-1498579809087-ef1e558fd1da.jpeg); */
  background-color: white;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: centre;
    /* background-color: lightgoldenrodyellow; */
    font-size: 100px;
    text-align: center;
    font-family: cursive;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    
}
#instruction{
    width: 450px;
    height: 50px;
    background-color: #B481D9;
    margin: 10px auto;
    text-align: center;
    line-height: 45px;
    box-shadow: 0px 4px #8133a8;
    -webkit-box-shadow: 0px 4px #8133a8;
    -moz-box-shadow: 0px 4px #8133a8;
}
#choices{
    width: 450px;
    height: 100px;
    margin: 5px auto;

}
 .box{ 
    width: 85px;
    height: 85px;
    background-color: white;
    float: left;
     margin-right: 36px;
     border-radius: 23px;
     cursor: pointer;
     text-align: center;
     line-height: 80px;
     font-size: 20px;
     position: relative;
     transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
     }
.box:hover, #startreset:hover{
    background-color: #F1FF92;
    color: red
}
.box:active, #startreset:active{
    top:4px;
}
#box4{
    margin-right: 0px;
}
#startreset{
    width: 78px;
 /* height: 85px; */
    background-color: rgba(255,255,255,0.5);
    padding: 10px;
    /* float: left; */
    /* margin-right: 36px; */
    margin: 0 auto;;
    border-radius:3px;
     cursor: pointer;
     text-align: center;
     /* line-height: 80px; */
     /* font-size: 20px; */
     position: relative;
     transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
}
#trialsleft{
    width: 130px;
    padding: 10px;
    position: relative;
     /* top:395px;*/ 
    left: 80px; 
    background-color: #F1FF92;
    border-radius: 10px;
     /* visibility: hidden;   */
     display:none; 
}
#gameover{
    height:200px;
    width: 500px;
    background: linear-gradient(#F3CA6B, #f3706C);
    background: -webkit-linear-gradient(#F3CA6B, #f3706C);
    background: -moz-linear-gradient(#F3CA6B, #f3706C);
    background: -o-linear-gradient(#F3CA6B, #f3706C);
    color:white;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 170px;
    left: 150px;
    z-index:2;
      display: none;  
}
.life{
    width:16px;
    height: 16px;
    margin: 0 5px;
}
.fruit{
    display: none;
    position: relative;
}
